<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>FoodieGo Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="stylesheet" th:href="@{/css/fonts.css}" />

    <link rel="stylesheet" th:href="@{/css/auth-v3.css}" />
    <link rel="shortcut icon" th:href="@{/images/fevicon.png}" />
    z
  </head>

  <body>
    <div class="overlay"></div>

    <div class="login-card">
      <div class="brand">
        <h1>🍔 FoodieGo</h1>

        <p>India's fastest growing food delivery platform</p>
      </div>

      <h2>Welcome Back</h2>

      <p class="subtitle">Login to continue your delicious journey</p>

      <div th:if="${error == 'invalidCredentials'}" class="error">
        Invalid email or password
      </div>

      <form action="/login" method="post">
        <input type="email" name="email" placeholder="Email Address" required />

        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />

        <button type="submit">Login</button>
      </form>

      <div class="signup-link">
        <a href="/"> Create New Account </a>
      </div>
    </div>
  </body>
</html>
